{
    "plugins": [],
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": "2",
                "useBuiltIns": "usage",
                "targets": {
                    "browsers": [
                        "last 1 Chrome versions"
                    ]
                }
            }
        ],
        "@babel/preset-react"
    ],
}